body {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
}

.navbar-brand {
    font-family: 'Cairo', sans-serif;
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link i {
    margin-right: 8px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cairo', sans-serif;
    margin-bottom: 20px;
}

.container {
    margin-top: 20px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container p {
    font-family: 'Cairo', sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
}

.carousel-inner img {
    height: 400px;
    object-fit: cover;
}